@page "/this"
@inject IJSRuntime JS
@using System.IO
@using Microsoft.JSInterop
<h3>Demo</h3>
<MudButton OnClick="@(p=>ExportDatafile())">demo 1</MudButton>
@*<MudButton OnClick="@(p=>ExportData("Demo.pdf"))">demo 2</MudButton>*@
@code {
    public void ExportDatafile()
    {
        string fileName = "demo.pdf";
        var Renderer = new IronPdf.ChromePdfRenderer().RenderHtmlFileAsPdf("Data/Payment.html");
        JS.InvokeVoidAsync("saveAsFile", fileName, Convert.ToBase64String(Renderer.Stream.ToArray()));

    }
    //public void ExportData(string fileName)
    //{
    //    var pdf = new PDFGenerator();
    //    pdf.DownloadPdf(JS, fileName);

    //}

}
