@page "/AdminLogin"
<h3>AdminLogin</h3>
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

<MudCard>
    <MudCardContent>
        <MudText>Admin Login</MudText>
        <MudTextField T="string" Label="Email"  Variant="Variant.Outlined" Required="true" RequiredError="Email is required!" />
        <MudTextField T="string" Label="Password"  Variant="Variant.Outlined" InputType="InputType.Password" Required="true" RequiredError="Password is required!" />
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Register</MudButton>
    </MudCardActions>
</MudCard>
@code {
   
}
