@page "/ViewEvent"
<h3>ViewEvent</h3>

<MudCard>
    <MudCardContent>
        <MudText>Story of the day</MudText>
        <MudItem Class="d-flex justify-end">
            <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" />
        </MudItem>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
    </MudCardActions>
</MudCard>
    
<MudCard>
    <MudCardContent>
        <MudText>Story of the day</MudText>
        
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>

    </MudCardActions>
</MudCard>


@code {

}
